body {
    font-family: sans-serif;
    color: hsl(0, 0%, 10%);
    background-color: hsl(200, 2%, 90%);
}

table {
    margin: 64px auto 0 auto;
    border-collapse: collapse;
    padding: 64px;
    background-color: hsl(200, 2%, 99%);
}

td,th {
    min-width: 96px;
    padding: 16px 16px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: hsl(0, 0%, 20%);
    border-left-style: solid;
    border-right-style: solid;
    text-transform: capitalize;
}

tr:first-child {
    border-top-width: 1px;
    border-color: hsl(0, 0%, 20%);
    border-top-style: solid;
}

tr:last-child {
    border-bottom-width: 1px;
    border-color: hsl(0, 0%, 20%);
    border-bottom-style: solid;
}

button {
    text-transform: uppercase;
}